<ul>
<li>
<a href="GeneticPlaylist">Genetic Playlist Project</a>
</li>
<li>
<a href="Lab4">Lab 4 of HIC course at KTH</a>
</li>
<li>
<a href="Lab5/app">Lab 5 of HIC course at KTH</a>
</li>
<li>
<a href="IV15P3">Fortum Project p3 for IV15 course at KTH</a>
</li>
</ul>