html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("profil.png");
    display:block;
    background-position-y:50%;
    background-position-x: 40%;
    background-size: 200px;
}
#container {
	margin: 15vh 0;
	padding: 50px;

	outline: 1px dashed orange;
}
#block {
	padding: 10px;

	border: 1px solid black;

	font-family: Helvetica;
}
.datamap{
  height:100%;
}
h1.title {
    padding: 10% 0 0 30%;
    margin: 0;
    text-align: center;
}
p {
    text-align: center;
    color: transparentize($white, 0.5);
}
strong {
    color: #fff;
}
 
/* Make each section 100% of the browser viewport height */
section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}
.main{
  height: 100vh;
}
.parallaxParent {
        height: 100vh;
        overflow: hidden;
    }
.parallaxParent > * {
        height: 200%;
        position: relative;
        top: -100%;
        background-size: 100%;
    }