  
body{
	height:100%;
	width:100%;
    background:rgba(250,250,250,1);
}

#FindButton{
	height:50%;
	width:20%;
}


ul.img-list {
  margin-top :10px;
  list-style-type: none;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  position: relative;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  position: absolute;
  width: 150px;
}

span.text-content span {
  display: table;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  position: absolute;
  top: 0px;
  vertical-align: middle;
  width: 150px;
  opacity: 0;

}
span.text-content a{
	text-align: center;
}
ul.img-list li:hover span.text-content {
  opacity: 1;
}
