body{
	height: 100%;
	width: 100%;
    background-image:url('images/kitchen.jpg');
    background-size: cover;
}
#HomeButton {
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.2);
	border-radius:2px;
	padding:10% 20%;
	cursor:pointer;
}