    <div id="about">

        <div class="close-modal" data-dismiss="modal" ng-click="closeabout()">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
        </div>
        <div class="intro-header" style="background-image: url('images/sound_dna.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="site-heading">
                                <h1>Genetic Playlist</h1>
                                <hr class="small">
                                <span class="subheading">Evolve Your Playlist</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">

            <h2>About</h2>
            <p>
            Typically playlists do not have a life. They are static and remain the same until a user adds or removes a song. Additionally, typical playlists do not have the ability to introduce a user to a new song. With the Genetic Playlist, all of these limitation are removed from a playlist.
            </p>
            <p>
            A Genetic Playlist is created based off an existing playlist. As a user listens to songs, the Genetic Playlist will note the songs that are more desired and those that are not listened to. Based on this information, songs will survive and die. For those songs who do manage to survive, the Genetic Playlist will add new songs based on specifications of the remaining songs.
            </p>
            <p>
            This information is then visualized by showing the songs in a playlist as living creatures moving about. The songs that are not listened to as much will not appear as healthy. Then at a certain point the song will become so unhealthy that it dies. Thus, only the surviving songs will appear as well as any song that has spawned in the process. This allows a user to enjoy a dynamically adapting playlist while also being able to see how the tracks are removed and added. 

            </p>

        </div> <!-- /container -->

        <div class="container">
          <div class="row" id="teamHeader">
              <div class="col-lg-12 text-center">
                  <h2 class="">Our Team</h2>
                 <h3 class="">Formed in DH2321: Information Visualization (KTH)</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="images/team/philip.jpg" class="img-responsive img-circle" alt="">
                      <h4>Philip Sköld</h4>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="images/team/viktor.jpg" class="img-responsive img-circle" alt="">
                      <h4>Viktor Leandersson</h4>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="images/team/lennart.jpg" class="img-responsive img-circle" alt="">
                      <h4>Lennart Jönsson</h4>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="team-member">
                      <img src="images/team/victor.jpg" class="img-responsive img-circle" alt="">
                      <h4>Victor Armas</h4>
                  </div>
              </div>
              
              </div>

              <div class="row" >
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="images/team/charly.jpg" class="img-responsive img-circle" alt="">
                          <h4>Charly Fontaine</h4>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="images/team/matthew.jpg" class="img-responsive img-circle" alt="">
                          <h4>Matthew Roth</h4>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="images/team/ninh.jpg" class="img-responsive img-circle" alt="">
                          <h4>Trương Mỹ Hải Ninh</h4>
                      </div>
                  </div>                                    
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted"> Thank you!</p>
              </div>
          </div>
        </div>
    </div>
