<div ng-show="true" id="gamediv">
  <div id="gameTopMenu">
        
        <div id="gamelog"> {{message}} </div>
        
  </div>
  <canvas id="game-canvas"
  		keepalive="true"  
        resize 
        ng-mousedown="mouseDown($event)" 
        ng-mousemove="mouseDrag($event)" 
        ng-mouseup="mouseUp()"
        >
  </canvas>
  <div id="profile" style="position: absolute ; bottom:0%; z-index: 0;" ></div>
  <div style="position: absolute; top: 50px; left: 50px; width: 100px; height: 100px; z-index: 5;" class="draggable" class="ui-widget-content">
</div>
<div style="display:inline-block; position:fixed; bottom:10%;">
  <p id="p1"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:20%;"><span>*</span></p>
  <p id="p2"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:25%"><span>*</span></p>
  <p id="p3"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:30%"><span>*</span></p>
  <p id="p4"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:35%"><span>*</span></p>
  <p id="p5"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:40%"><span>*</span></p>
  <p id="p6"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:45%"><span>*</span></p>
  <p id="p7"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:50%"><span>*</span></p>
  <p id="p8"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:55%"><span>*</span></p>
  <p id="p9"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:60%"><span>*</span></p>
  <p id="p10"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:65%"><span>*</span></p>
  <p id="p11"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:70%"><span>*</span></p>
  <p id="p12"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:75%"><span>*</span></p>
  <p id="p13"style="display:{{On}};position:fixed;font-size:24px;color: lightgrey;left:80%"><span>*</span></p>
</div>
</div>

