<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl" ></ng-include>

<button class="btn btn-primary"ng-click="addMeal()" style="margin-left:60px">Add This dish</button>
{{yourMeal}}
<a class="btn btn-primary" href="#/search" style="margin-left:60px">Go Back</a>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div id="selectedDish">
<!-- 
	<ng-include ng-controller="DishCtrl"></ng-include> -->
	<!-- <button id="FindButton"class="btn btn-primary"ng-click="getSelectedDish()" style="margin-left:10px">meal</button> -->
	<h4 id="Name" style="position:relative;text-align:center">{{selectedDish.Title}}</h4>
	<h2 style="position:absolute;margin-left:20%;font-style:italic;color:lightgrey">{{Selected}}</h2>
	<h2 style="position:absolute;margin-left:70%;font-style:italic;color:lightgrey">Price :{{mealPrice}}</h2>
	<img ng-src="{{selectedDish.ImageURL}}" style="position: relative;max-width:150px;max-height:150px;margin-left: auto;margin-right: auto;display: table-cell;"/> 
	
	<div style="margin-top:10px;margin-left:5%">
		<div style="position:absolute;border:3px solid lightgrey;width:40%;height:50%;overflow:scroll;padding-left:10px">
			<h6 style="text-align:center">Ingredients</h6>
			<li ng-repeat="dishIngredient in selectedDish.Ingredients">
				{{dishIngredient.Name}}
			</li>
		</div>
		<div style="margin-left: 50%; border: 3px solid lightgrey;position:absolute;margin-left=50%;text-align:center;width: 40%;height: 50%;overflow: scroll;padding-left: 10px;padding-right: 10px;text-align: justify;">
			<h6 style="text-align:center">Instructions</h6>
				<p id="Instructions"> 
				{{selectedDish.Instructions}}</p>
		</div>
	</div>
</div>
