<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<div>
	<h3 style="margin-left:10px">Your Meal
	<a class="btn btn-primary" href="#/search" style="margin-left:60px">Go Back</a></h3>
	<!-- <a class="btn btn-primary"ng-click="dishDisplayfunc()">Test</a> -->	
</div>


<div class="container" style="display:table; width:90%">
	<div class="row" style="display:table-row">
	    <div class="column" style="display:table-cell;width:150px; text-align:center">{{saladDisplay.Title}}
	    </div>
	    <div class="column" style="display:table-cell;width:150px; text-align:center">{{mainDisplay.Title}}
	    </div>
	    <div class="column" style="display:table-cell;width:150px; text-align:center">{{dessertDisplay.Title}}
	   	</div>
    </div>
    <div class="row" style="display:table-row">
	    <div class="column" style="display:table-cell;width:30%; text-align:center">
			<img ng-src="{{saladDisplay.ImageURL}}" style="max-width:150px;max-height:150px"/>
			<h2 style="font-style:italic;color:lightgrey">Salad : {{saladPrice}}</h2>
		</div>
	    <div class="column" style="display:table-cell;width:30%; text-align:center">
	    	<img ng-src="{{mainDisplay.ImageURL}}" style="max-width:150px;max-height:150px"/>
			<h2 style="font-style:italic;color:lightgrey">Main Dish: {{mainPrice}}</h2>
		</div>
		<div class="column" style="display:table-cell;width:30%; text-align:center">
		    <img ng-src="{{dessertDisplay.ImageURL}}" style="max-width:150px;max-height:150px"/>    
			<h2 style="font-style:italic;color:lightgrey">Dessert: {{dessertPrice}}</h2>
		</div>
	</div>
	<h1 style="position:absolute;margin-left:38%;margin-top:5%;font-style:italic;color:lightgrey">Meal: {{mealPrice}}</h1>
</div>

