<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
<link rel="stylesheet" href="lab5search.css">
<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<body>
<br>
<form class="bs-docs-example">
            <div class="input-append">
				<h5 style="margin-left:10px">Search your {{dishType}}:
				<input type="text" ng-model="query" class="input-block-level">
              <div class="btn-group" style="z-index: 1;">
                <button class="btn btn-primary" ng-click="search(query)" tabindex="-1">Find</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><button class="btn btn-primary btn-block"ng-click="dishTypefunc('Salad')"style="margin-bottom:2px;background-color:{{starter}}">Starter</button></li>
                  <li><button class="btn btn-primary btn-block"ng-click="dishTypefunc('Main Dish')"style="margin-top:2px;margin-bottom:2px;background-color:{{main}}">Main Dish</button></li>
                  <li><button class="btn btn-primary btn-block"ng-click="dishTypefunc('Desserts')"style="margin-top:2px;background-color:{{dessert}}">Desserts</button></li>
                  <li><button class="btn btn-primary btn-block"ng-click="dishTypefunc('meal')"style="margin-top:2px">General Search</button></li>
                </ul>
                
              </div>
            </div>
          </form></h5>
<a class="btn btn-primary" ng-click="checkMenu()" href={{href}} style="margin-left:5px">Your Meal</a>

<span class="ng-scope ng-binding" style="margin-left:10px">
{{status}}
</span>
<br>
	<ul class="img-list" style="margin-top:10px">
		 <li ng-repeat="dish in dishes" style="margin-bottom:20px">
			 <img ng-src="{{dish.ImageURL}}" style="width:150px;height:150px;"/>
			 <span class="text-content">
			 	 <span class="text">
			 	 	{{dish.Title}}
					{{dish.Subcategory}}
				 </span>
				 <a ng-href="#/dish/{{dish.RecipeID}}">View more</a>
			 </span>

		 </li>
	</ul>
</body>
