
#about h2, #about h3, #about h4, #about h5 {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



#about{
font-size: 18px;
color: silver;
background-color: black;
}

#about p {
line-height: 1.5;
margin: 30px 0;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}

.intro-header {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 100px 0 50px;
    color: #fff;
}
@media only screen and (min-width:768px) {
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 150px 0;
}
}.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
}
.intro-header .site-heading h1, .intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}
.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}
@media only screen and (min-width:768px) {
    .intro-header .site-heading h1, .intro-header .page-heading h1 {
    font-size: 80px;
}

}.intro-header .post-heading h1 {
    font-size: 35px;
}

@media only screen and (min-width:768px) {
    .intro-header .post-heading h1 {
    font-size: 55px;
	}
}

#teamHeader {
	margin-bottom: 50px;
}

.team-member {
margin-bottom: 50px;
text-align: center;
}

.team-member img {
margin: 0 auto;
border: 7px solid #fff;
width: 180px;
}

.team-member h4 {
margin-top: 25px;
margin-bottom: 0;
text-transform: none;
}

.team-member p {
margin-top: 0;
}


.close-modal .lr {
z-index: 1051;
width: 1px;
height: 75px;
margin-left: 35px;
background-color: white;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.close-modal .lr .rl {
z-index: 1052;
width: 1px;
height: 75px;
background-color: white;
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}

.close-modal {
position: absolute;
top: 25px;
right: 25px;
width: 75px;
height: 75px;
background-color: transparent;
cursor: pointer;
}