<html ng-app="PlayerApp">
	<head>
		<title>Genetic Playlist</title>
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="about.css" />

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<script src="libraries/paper/paper-core.js"></script>
		<script src="libraries/angular/angular.js"></script>
		<script src="libraries/angular-route/angular-route.js"></script>
		<script src="libraries/modernizr.js"></script>

		<script src="app.js"></script>

		<script src="services/auth.js"></script>
		<script src="services/api.js"></script>
		<script src="services/genetics.js"></script>
		<script src="services/genetics-sub/fitness_function.js"></script>
		<script src="services/genetics-sub/gen_new_songs.js"></script>
		<script src="services/playback.js"></script>
		<script src="services/playqueue.js"></script>

		<script src="directives/playlistcover.js"></script>
		<script src="directives/responsivecover.js"></script>
		<script src="directives/contextmenu.js"></script>
		<script src="directives/focusme.js"></script>

		<script src="filters/displaytime.js"></script>
		<script src="filters/timeago.js"></script>

		<script src="controllers/about.js"></script>
		<script src="controllers/player.js"></script>
		<script src="controllers/login.js"></script>
		<script src="controllers/playlist.js"></script>
		<script src="controllers/home.js"></script>
		<script src="controllers/artist.js"></script>
		<script src="controllers/album.js"></script>
		<script src="controllers/user.js"></script>
		<script src="controllers/usertracks.js"></script>
		<script src="controllers/playqueue.js"></script>
		<script src="controllers/searchresults.js"></script>
		<script src="controllers/browse.js"></script>
		<script src="controllers/game.js"></script>

		  <script src="http://d3js.org/d3.v3.min.js"></script>
		  <script src="controllers/profil.js"></script>



	</head>
	
	<body ng-controller="AppController">
		<div class="fullview playerview" ng-show="showplayer">
			<div ng-controller="PlayerController">
				
				<div class="topgroup">
					<div class="searchbox">
						<!--<input type="text" ng-model="query" ng-change="loadsearch()" ng-keyup="loadsearch()" placeholder="Search..." />-->
						<a ng-click="about()"> About us </a>
					</div>
					<div class="titlebox">
						<a ng-click="tempRestart()"><h3>Genetic Playlist</h3></a>
					</div>
					<div class="userbox">
						Signed in as <b><a href="#/users/{{username}}">{{username}}</a></b> |
						<a ng-click="logout()">Log out</a>
					</div>
				</div>

				<div class="midgroup">
					<div class="menuview">
						<div class="list scrollable noselect">
							<!-- <div class="smallHeader">YOUR PLAYLISTS</div> -->
							
							<ul class="menuitems" ng-repeat="pl in playlists track by pl.id" ng-context-menu="menuOptions(pl)" ng-class="getClass('/users/{{pl.username}}/playlists/{{pl.id}}')">
								<li>
									<!-- <a href="#/users/{{pl.username}}/playlists/{{pl.id}}" ng-if="!pl.editing"> 
									</a>
									-->
									<div id="clickable" ng-click="toggleSongs(pl.id)"></div>
									<div id="plname" ng-click="addSongs(pl.id)">
										{{pl.name}}
									</div>
									
									<!-- <input focus-me="focusInput" ng-blur="playlistNameBlur(pl)" ng-if="pl.editing" class="edit" type="text" value="{{pl.name}}" name="title" ng-keyup="playlistNameKeyUp($event, pl)"> -->
								</li>
								<div id="{{pl.id}}" class="songs" >

								</div>
							</ul>
						</div>

						<!--<div class="preview">
							<a href="#/albums/{{trackdata.album.id}}">
								<responsive-cover ng-model="trackdata.album.images"></responsive-cover>
							</a>
							<p>
								<b>{{trackdata.name}}</b>
								<a href="#/artists/{{trackdata.artists[0].id}}">
									{{trackdata.artists[0].name}}
								</a>
							</p>
						</div>-->
					</div>

					<div class="mainview">
						<div ng-view id="mainview"></div>
					</div>

					<div class="geneticview">

						<div class="list scrollable noselect">
							<!-- <div class="smallHeader">GENERATED PLAYLIST</div> -->
						
							<a id="nextGenButton" ng-click="tempStartGeneration()" class="button white">Next Generation</a>
							<a id="export" ng-click="tempExportPlaylist()" class="button white">Export Playlist</a>
							<ul id="genSongUl" class="menuitems">
							<div id="genSongs">

							</div>
							</ul>
							<!--<ul class="menuitems">
								<li ng-repeat="pl in playlists track by pl.id" ng-context-menu="menuOptions(pl)" ng-class="getClass('/users/{{pl.username}}/playlists/{{pl.id}}')">
									<a href="#/users/{{pl.username}}/playlists/{{pl.id}}" ng-if="!pl.editing">
										{{pl.name}}
									</a>
									<input focus-me="focusInput" ng-blur="playlistNameBlur(pl)" ng-if="pl.editing" class="edit" type="text" value="{{pl.name}}" name="title" ng-keyup="playlistNameKeyUp($event, pl)">
								</li>
							</ul>-->
						</div>
					</div>
				</div>

				<div class="bottomgroup">
					<div class="leftcontrols">
						<!--
						<div class="prevbutton">
							<a ng-click="prev()"><img src="images/btn-prev.png" /></a>
						</div>
						-->

						<div class="playbutton">
							<a ng-click="resume()" ng-hide="playing"><img src="images/btn-play.png" /></a>
							<a ng-click="pause()" ng-show="playing"><img src="images/btn-pause.png" /></a>
						</div>

						<!--
						<div class="nextbutton">
							<a ng-click="next()"><img src="images/btn-next.png" /></a>
						</div>
						-->

						<div class="volume">
							<input type="range" ng-change="changevolume()" min="0" max="100" ng-model="volume" />
						</div>
					</div>
					<div class="seekcontrols">
						<div class="progress">{{ progress | displaytime }}</div>
						<div class="duration">{{ duration | displaytime }}</div>
						<div class="slider">
							<input type="range" ng-model="progress" ng-change="changeprogress()" min="0" max="{{duration}}" />
						</div>
					</div>
					<!--
					<div class="rightcontrols">
						
						<a ng-click="shuffle()">SHUF</a>
						<a ng-click="repeat()">REP.</a>
						
					</div>
					-->
				</div>

			</div>
		</div>

		<div class="fullview loginview" ng-show="showlogin">
			<div ng-controller="LoginController">
				<div class="centered">
					<div class="inner">
						<h1>Genetic Playlist</h1>
						<p>
							The <b>Genetic Playlist</b> lets you explore new music by simulating an evolutionary process. View the songs as the trot around in a virtual world. If songs are well fit to the enviroment, i.e your taste, they thriv e and create offpring. Otherwise, they perish.
							<br>
							This application is built on top of the Thirtify sample app.
						</p>
						<a id="aboutLink" ng-click="login()" class="button big green">login</a>
					</div>
				</div>
			</div>
		</div>

		<div class="fullview aboutview" ng-show="showabout">
			<div ng-controller="AboutController">			
				<div ng-include src="'partials/aboutus.html'"></div>
			</div>
		</div>

		<div id="trackInfoContainerSample" class="infoCnt" style="display:none;">
			<div id="trackInfoImg" class="noselect">
				<div id="trackPlayBtn"></div>
			</div>
			<div id="trackInfo" class="noselect">
				<table class="noselect">
					<tbody>
						<tr id="firstInfoRow">
							<td>Artist</td>
							<td id="infoArtist">The Beatles</td>
						</tr>
						<tr>
							<td>Song</td>
							<td id="infoTrackName">Let It Be</td>
						</tr>						
						<tr>
							<td>Album</td>
							<td id="infoAlbum">Let It Be</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
