body {
/*	background: #121314;*/
	color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 8pt;
	font-weight: 300;
	overflow: hidden;
	-webkit-text-stroke: 0px!important;
	-webkit-font-smoothing: antialiased !important;
}
p
#p1 :hover span {
    display: none;

}
#p1 span:hover:before {
    color:lightgrey;
    font-size:24px;
    content:"*----------------------------------------Acousticness";


}
#p1:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p2 :hover span {
    display: none;
   	opacity:0;

}
#p2 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Danceability";
}
#p2:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p3 :hover span {
    display: none;
   	opacity:0;

}
#p3 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Duration";
}
#p3:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p4 :hover span {
    display: none;
   	opacity:0;

}
#p4 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Energy";
}
#p4:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p5 :hover span {
    display: none;
   	opacity:0;

}
#p5 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Instrumentalness";
}
#p5:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p6 :hover span {
    display: none;
   	opacity:0;

}
#p6 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Key";
}
#p6:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p7 :hover span {
    display: none;
   	opacity:0;

}
#p7 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Liveness";
}
#p7:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p8 :hover span {
    display: none;
   	opacity:0;

}
#p8 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Loudness";
}
#p8:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p9 :hover span {
    display: none;
   	opacity:0;

}
#p9 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Mode";
}
#p9:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p10 :hover span {
    display: none;
   	opacity:0;

}
#p10 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Speechiness";
}
#p10:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p11 :hover span {
    display: none;
   	opacity:0;

}
#p11 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------------------Tempo";
}
#p11:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p12 :hover span {
    display: none;
   	opacity:0;

}
#p12 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*----------------------------Signature";
}
#p12:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
p
#p13 :hover span {
    display: none;
   	opacity:0;

}
#p13 span:hover:before {
    color:lightgrey;
    opacity: 1;
    font-size:24px;
    content:"*------------------------------Valence";
}
#p13:hover {
  opacity: 1;
  -webkit-transition: 2s ease-out;
  -webkit-transform : rotate(-90deg);
  -webkit-transform-origin : top left;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: top left;
}
div.scrollable {
	overflow: auto;
	width: 100%;
	height: 100%;

}

div.fullview {
	color: grey;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30pt;
	padding: 0;
	margin: 0 0 10px 0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20pt;
	padding: 0;
	margin: 0 0 10px 0;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15pt;
	padding: 0;
	margin: 0 0 10px 0;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0 0 0 0;
}

p {
	margin: 0 0 10px 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;	
}

b {
	font-weight: inherit;
	color: black;
}

hr {
	display: block;
	border: none;
	border-top: 1px solid #222326;
	background-color: transparent;
	margin: 0 0 10px 0;
	clear: both;
}

.topgroup {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 40px;
	width: 100%;
	background-color: #222326;
	border-bottom: 1px solid #393b40;
	box-sizing: border-box;
	overflow: hidden;
}

.topgroup .searchbox {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 220px;
	box-sizing: border-box;
	padding: 0 10px;
}

.topgroup .searchbox a {
	line-height: 40px;
}

.topgroup .searchbox input {
	border: 0;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #ddd;
	width: 100%;
	outline: none;
}

.topgroup .userbox {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 12px;
	text-align: right;
}

.topgroup .titlebox {
	position: absolute;
	left: 150px;
	right: 150px;
	top: 0px;
	text-align: center;
	/*padding: 12px;*/
}

.topgroup .titlebox h3 {
	line-height: 40px;
}

.midgroup {
	position: absolute;
	left: 0px;
	top: 40px;
	bottom: 40px;
	width: 100%;
	overflow: hidden;
}

.bottomgroup {
	position: absolute;
	box-sizing: border-box;
	left: 0px;
	width: 100%;
	height: 40px;
	bottom: 0px;
	background-color: #222326;
	border-top: 1px solid #393b40;
	overflow: hidden;
}

.bottomgroup .leftcontrols {
	position: absolute;
	left: 10px;
	top: 2px;
	width: 400px;
	padding: 0px;
}

.bottomgroup .leftcontrols .prevbutton {
	position: absolute;
	left: 5px;
}

.bottomgroup .leftcontrols .playbutton {
	position: absolute;
	left: 40px;
}

.bottomgroup .leftcontrols .nextbutton {
	position: absolute;
	left: 75px;
}

.bottomgroup .leftcontrols .prevbutton a img,
.bottomgroup .leftcontrols .playbutton a img,
.bottomgroup .leftcontrols .nextbutton a img {
	width: 32px;
}

.bottomgroup .leftcontrols .volume {
	position: absolute;
	left: 120px;
	top: 7px;
	width: 80px;
}

.bottomgroup .leftcontrols .volume input {
	width: 100%;
}

.bottomgroup .seekcontrols {
	position: absolute;
	top: 8px;
	left: 220px;
	right: 0px; 
	padding: 0px;
}

.bottomgroup .seekcontrols .slider {
	position: absolute;
	top: 1px;
	left: 60px;
	right: 60px;
}

.bottomgroup .seekcontrols input {
	width: 100%;
}

.bottomgroup .seekcontrols div.progress {
	width: 60px;
	position: absolute;
	top: 3px;
	left: 0px;
	text-align: center;
	background: initial;
}

.bottomgroup .seekcontrols div.duration {
	position: absolute;
	right: 0px;
	top: 3px;
	width: 60px;
	text-align: center;
}

.bottomgroup .rightcontrols {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
	width: 110px;
	padding: 20px;
} 


.geneticview {
	overflow: auto;
	position: block;
	float:right;
	left: 0px;
	top: 0px;
	width: 220px;
	background-color: #222326;
	bottom: 0px;
}

.geneticview .list {
	position: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
	padding: 0px;
	overflow: auto; 
	float: right
}

.geneticview .list > b {
	display: block;
	margin: 10px 0 5px 10px;
}


.menuview {
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 220px;
	background-color: #222326;
	bottom: 0px;
}

.menuview .list {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;
	bottom: 0px;
	padding: 0px;
	overflow: auto;
}

.menuview .preview {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 260px;
	background-color: #222326;
}

.menuview .preview > p {
	display: none;
	padding: 5px;
}

.menuview .preview > p b {
	display: none;
	font-weight: 300;
}

.menuview .preview > p a {
	display: none;
	font-size: 7pt;
}

.menuview .preview responsive-cover {
	width: 220px;
	height: 220px;
	border: 0;
	outline: 0;
	border: 1px solid #393b40;
}

.mainview {
  position: absolute;
  left: 220px;
  top: 0px;
  right: 220px;
  bottom: 0px;
  padding: 0px;
  /* background: url('images/aquarium.jpg') bottom center no-repeat; */
  background-size: cover;
  background-color: rgb(55, 55, 55);
}

.fish {
	border-radius: 50%;
	border: 3px solid;
	border-color: transparent;
	-webkit-transition: zoom 2s, border 2s ease-out; /* Safari */
	transition: zoom 2s, border 2s ease-out;
/* -webkit-mask-box-image: url("images/start.svg"); */
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover{
	text-decoration: none;
	color: white;
}

.mainview a {
	color: #fff;
}

.menuview a {
	color: inherit;
	text-decoration: none;

}

.menuview .list > b {
	display: block;
	margin: 10px 0 5px 10px;
}

.menuview ul.menuitems {
	margin: 0px 0px 5px 0px;
	padding: 0;
	list-style: none;
}

.menuview ul.menuitems li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 15px;
	margin: 0;
	cursor: pointer;
}

.geneticview ul.menuitems {
	margin: 0px 0px 5px 0px;
	padding: 0;
	list-style: none;
}

.geneticview ul.menuitems li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 15px;
	margin: 0;
	cursor: pointer;
}

ul.menuitems li:hover {
	background-color: #555;
}

div.centered {
	width: 100%;
}

div.centered div.inner {
	margin: 100px auto;
	width: 400px;
}

a.button {
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	border-radius: 50px;
}

a.button.green {
	background-color: #070;
	color: #fff;
	border: 1px solid #070;
	margin:6px;
}

a.button.white {
	background-color: #ffffff;
	color: black;
	border: 1px solid #070;
	margin: 3px;
}
a.button.white:hover {
	background-color: #070;
	color: #fff;
	border: 1px solid #070;
	margin: 3px;
}

a.button.big.green {
	display: inline-block;
	text-align: center;
	background-color: #070;
	color: #fff;
	padding: 10px 40px;
	border-radius: 50px;
}

a.button.button-add {
	color: #fff;
	border: 1px solid #070;
}

.pop-meter {
	width: 30px;
	height: 9px;
	position: relative;
}

.pop-meter-background, .pop-meter-overlay {
	width: 100%;
	position: absolute;
	top: -1px;
	height: 9px;
	overflow-x: hidden;
}

.pop-meter-background:after, .pop-meter-overlay:after {
	content: ' ';
	display: block;
	-webkit-transform: translate(0,.5px);
	-moz-transform: translate(0,.5px);
	-ms-transform: translate(0,.5px);
	-o-transform: translate(0,.5px);
	transform: translate(0,.5px);
	position: absolute;
	left: -4px;
	width: 2px;
	height: 8px;
	top: 0;
}

.pop-meter-background:after {
	box-shadow: 4px 0 0 0 #3e3e40,8px 0 0 0 #3e3e40,12px 0 0 0 #3e3e40,16px 0 0 0 #3e3e40,20px 0 0 0 #3e3e40,24px 0 0 0 #3e3e40,28px 0 0 0 #3e3e40,32px 0 0 0 #3e3e40
}

.pop-meter-overlay:after {
	box-shadow: 4px 0 0 0 #88898c,8px 0 0 0 #88898c,12px 0 0 0 #88898c,16px 0 0 0 #88898c,20px 0 0 0 #88898c,24px 0 0 0 #88898c,28px 0 0 0 #88898c,32px 0 0 0 #88898c;
}

.searchresult-image {
	width: 100px;
	height: 100px;
}

header {
	position: relative;
	height: 220px;
}

header div.cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 200px;
	background-color: #222326;
	background-size: cover;
	overflow: hidden;
}

header .playlist-cover {
	position: relative;
}

header .cover-component {
	background-size: cover;
	position: absolute;
	width: 100px;
	height: 100px;
}

header .cover-component:nth-child(1) {
	top: 0;
	left: 0;
}

header .cover-component:nth-child(2) {
	top: 0;
	left: 100px;
}

header .cover-component:nth-child(3) {
	top: 100px;
	left: 0px;
}

header .cover-component:nth-child(4) {
	top: 100px;
	left: 100px;
}

header div.buttons {
	position: absolute;
	left: 210px;
	bottom: 20px;
}

header p {
	padding-left: 210px;
}

header h1 {
	margin-top: -5px;
	padding-left: 210px;
}

header h4 {
	padding-left: 210px;
}

header .follower-count {
	padding-left: 210px;
}

table.tracks {
	width: 100%;
	margin: 0 0px;
	border-collapse: collapse;
}

table tr {
}

table tr:hover {
	background-color: #222326;
}

table tr.playing {
	background-color: #393b40;
}

table tr td {
	font-size: 9pt;
	border-top: 1px solid #393b40;
	padding: 4px 10px 4px 0;
}


table tr td i {
	font-style: normal;
	color: #aaa;
}

table.tracks tr td i > a {
	color: inherit;
}

table tr td.nowrap {
	white-space: nowrap;
}

table tr th {
	text-align: left;
	font-weight: 300;
	font-size: 9pt;
	color: #fff;
	padding: 4px 10px 4px 0;
}

ul.albums, ul.playlists {
	margin: 0;
	padding: 0;
	border: 0;
	clear: both;
}

ul.albums li, ul.playlists li {
	float: left;
	position: relative;
	width: 160px;
	height: 220px;
	margin: 0 10px 10px 0;
	background-color: #393b40;
}

ul.albums li responsive-cover,  ul.playlists li responsive-cover{
	width: 160px;
	height: 160px;
}

ul.albums li p, ul.playlists li p {
	padding: 10px;
}

responsive-cover {
	display:block;
	height:100%;
	width:100%;
	background-size: cover;
}

responsive-cover.responsive-cover-playlist {
  background-image: url('images/placeholder-playlist.png');
}

.searchresult {
	overflow: hidden;
}

.position-fixed {
	position: fixed;
}

.context-menu {
	padding: 5px 0;
	position: absolute;
	display: none;
	width: auto;
	min-width: 160px;
	max-width: 460px;
	color: #c8c8c8;
	background-color: #333;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.context-menu .item {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.context-menu .item:hover {
	background-color: #444;
	cursor: default;
}

.context-menu .item a {
	padding: 4px 25px 4px 25px;
	display: block;
}

.context-menu .sep {
	display: block;
	margin: 4px 0;
	height: 1px;
	background-color: #444;
}

::-webkit-scrollbar-track {
  background-color: #1c1c1f;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #1c1c1f;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #1c1c1f;
  border-radius: 10px;
  background-color: #323438;
}
::-webkit-scrollbar-corner {
  background-color: #1c1c1f;
}


/* Game View */

#game-canvas {
}

#gamediv {
height: 100%;
}

#gameTopMenu {
margin-bottom: 5px;
}


#gamelog {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15pt;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.23);
	color: wheat;
}
/* Track Info popup */
.infoCnt #trackInfoImg {
	height: 90px;
	width: 90px;
	background-image: url("images/album.jpg");
	float: left;
	background-size: contain;
	}

.infoCnt {
width: 290px;
height: 90px;
background-color: rgba(92, 92, 92, 1);
padding-right: 20px;
font-family: sans-serif;
position:absolute;
}

#trackInfo { 
	float: right;
	padding-top: 5px;
}

#trackPlayBtn {
	height: 90px;
	width: 90px;
	background-image: url("images/btn-play.png");
	background-size: 60px 60px;
	background-position: 50%;
	background-repeat: no-repeat;
}

.boidCtnr {
min-width : 30px;
min-height : 30px;
}

#trackInfo table {
font-size: 13px;
padding-top: 10px;
width: 160px;
color:#ddd!important;
}

#trackInfo table tr td {
	color:#ddd!important;
}
#trackInfo table tr:hover {
	color:#ddd!important;
	background:none;
}


#trackInfo #firstInfoRow td{ 
    border-top:0px;
}

#export{
	position:block;
	float:right;
}
#nextGenButton {
	float:left;
}

#toggleSongs{
	margin-left:auto;
	margin-right:auto;
}

#clickable{
	float:left;
	color:black;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	margin-top: 5px;
	margin-right: 5px;
	border-top: 8px solid white;
}

#clickable:hover{
	border-top: 8px solid green;
}

.smallHeader{
	text-align:center;
	margin-top:5px;
	margin-bottom:10px;
}

.songs{
	margin-left:20px;
}

#genSongs{
	margin-top:50px;
}

